/*********************************************************
 * The two columns : sidebar & main
 *********************************************************/

body { 
  font-family: arial, helvetica, sans-serif;
  font-size: 11pt;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;
  background: white url(backgrounds/fond1-trunc.jpg) repeat-y;
  color: black;
}

div.sidebar {
  width: 144px;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  float: left;
  color: white;
  background: #336 url(backgrounds/fond1-trunc.jpg) repeat-y;

/*  Web browsers are too slow to use the following feature. */
/*  position: fixed; top: 0em; left: 0em; */
}

div.main {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 144px;
  padding: 0px 24px 24px 24px;
  background: white; color: black;
}

div.footer {
  clear: both;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 172px;
  padding: 0em 2em 0.5em 2em;
  width: auto;
}

div.notes {
  margin-top: 4em;
}

div.credits {
  margin-top: 6em;
}

/**** General features ****/
P { text-align: justify; }

address {
  background: #CCF;
  color: black;
  margin: 0em 1em 0em 1em;
  padding: 1em 3em 1em 3em;
}

TABLE.addresses TD {
  vertical-align: top;
  padding: 0em 1em 0em 1em;
}

DIV.hotel address {
  padding: 0;
  margin: 0;
  background: inherit;
  color: inherit;
}

DIV.hotel TD.address {
  width: 14em;
}

DIV.hotel TD.phone {
  width: 20em;
}

DIV.hotel TD.comments {
}


SPAN.hotel-name {
  font-size: larger;
  font-weight: bold;
}

P.important { 
  padding: 0.5em 1em 0.5em 2em;
  margin: 1em 2em 1em 2em;
  background: #9FF;
  color: black;
  border: thin solid #33F;
  page-break-inside: avoid;
}

SPAN.important {
/* border: thin solid #999; */
  padding: 0em 0.5em 0em 0.5em;
  background: #FF9;
  font-weight: bold;
  color: black;
}

P.important span.title {
  letter-spacing: 0.2ex;
  color: #009;
  background: #9FF;
}

P.footnote {
  margin: 4em 8em 1em 8em;
  font-size: smaller;
  text-align: center;
  padding: 0.5em 2em 0.5em 2em;
  border: thin solid #999;
}

P.new {
  margin: 0em 1em 0em 2em;
  padding: 0.5em 0.5em 0em 0.5em;
}

P.new SPAN.updated {
  border: thin solid #33F;
  margin-right: 1em ;
  padding: 0.25em 1em 0.25em 1em;
  font-style: italic;
  font-size: smaller;
  background: #9FF;
  color: black;
}

P.url {
  text-align: center;
  font-size: larger;
  letter-spacing: 0.1ex;
}

P.ingredients {
  line-height: 2.5em;
}

P.ingredients A {
  margin: 0em 1.5em 0em 1.5em;
  text-align: left;
}

UL.sitemap LI {
  margin: 1.5em 0em 0em 0em;
}

UL.sitemap UL LI {
  margin: 0em 0em 0em 0em;
}

UL.sitemap UL {
  list-style-type: none;
  list-style-image: none;
}

SPAN.hide { display:none; }
P.hide { display: none; }

SPAN.eaddr { font-family: monospace}
ACRONYM { border-bottom: thin dotted #999; }

UL {
  list-style-type: none;
  list-style-image: url("icons/bullet2.gif");
}

DIV.deadlines UL {
  list-style-type: none;
  list-style-image: none;
}

UL.entries, UL.guidelines {
  list-style-type: disc; 
  list-style-image: url("icons/bullet2.gif");
  margin-left: 2em ;
  margin-right: 3em ;
}

/**** Map-List ****/
UL.map-list IMG { margin: 1em 2em 1em 2em; }

TABLE.contacts, TABLE.dictionary {
  margin: 1em 1em 1em 5em;
}

TH {
  font-weight: bold;
  text-align: left;
  padding-right: 2em;
}

TABLE.timetable {
  margin: 1em 4em 0em 4em;
}

TABLE.timetable TD {
  padding: 0.5em 1em 0.5em 1em;
  vertical-align: top;
  text-align: center;
  color: black;
  background: #CC3;
}

TABLE.timetable TD.extra {
  color: black;
  background: #C93;
}

TABLE.timetable TH {
  border: thin solid black;
  vertical-align: top;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
  color: black;
  background: #99F;
}

TABLE.dictionary TD {
  padding-right: 2em;
  text-align: left;
}

TABLE.dictionary TD.section {
  font-style: italic;
}

TABLE.contacts TD.topic { 
  font-style: italic ;
  padding-right: 1em ;
  text-align: left;
}

TABLE.supporters {
  caption-side: bottom;
  border: thin solid #666;
  padding: 0em 1em 0em 1em;
}

TABLE CAPTION {
  display: none;
}

TABLE.supporters TD {
  padding: 1em 1em 1em 1em;
  text-align: justify;
}

TABLE.supporters TD.sponsorship-level {
  text-align: center;
  letter-spacing: 0.25ex;
  color: #663;
  background: white;
  font-weight: bold;
}

TABLE TD.icon {
  width: 220px;
  text-align: center;
}

TABLE.committee {
  margin-top: 2em ;
}

TABLE.committee TH {
 text-align: center ; 
 font-weight: bold ;
 border: thin solid black; 
 padding-left: 0.5em ;
 padding-right: 0.5em ;
 width: 12em ;
}

TABLE.committee TD {
  padding-left: 1em ;
  padding-right: 1em ;
  text-align: right; 
  vertical-align: top;
}

TABLE.committee TD.affiliation {
  text-align: left;
  font-style: italic;
  padding-right: 0.5em;
  width: 18em;
}

TABLE.committee TD.affiliation-large {
  text-align: left;
  font-style: italic;
  padding-right: 0.5em;
}

TABLE.committee TD.role {
  font-weight: bold;
  text-align: left;
}

/**** Pictures ****/
P.pictures {
  margin: 3em 1em 1em 1em;
  text-align: center;
}

P.pictures img {
  margin: 0px 16px 0px 16px;
  vertical-align: middle;
}

P.logos {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

P.logos img {
  margin: 0px 20px 0px 20px;
  vertical-align: middle;
}

P.logos acronym {
  border: 0;
}

P.ecoop-logo {
  text-align: center;
  margin: 0em 0em 0em 0em;
}

P.caption {
  text-align: right;
  margin: 0em 6em 0em 0em;
  color: #666;
  background: inherit;
}

IMG {
  border: 0;
  vertical-align: middle;
}

IMG.icon { margin: 0.5em 1em 1em 0.5em; }
TABLE.description IMG.icon { margin: 0em 0em 0em 0em; }

IMG.float-left {
  float: left;
  margin: 0em 1em 0em 1em;
}

IMG.float-right {
  float: right;
  margin: 0em 1em 0em 1em;
}

/**** Validators ****/
P.validators { margin-top: 4em; text-align: right}

/*********************************************************
 *   TITLES
 *********************************************************/

H1, H2 {
  text-align: center;
  background: #99F url(backgrounds/fond2.jpg);
  font-size: larger;
}

H3 {
  text-align: left;
  font-weight: bold;
  margin: 2em 0em 0em 0em;
}

H3.discret {
  font-size: 100%;
  font-weight: normal;
  font-style: italic;
  margin: 0;
}

H3.discret A {
  font-size: 100%;
  font-style: italic;
  margin: 0;
}

H3 A {
  font-size: 90%;
  font-weight: normal;
}

H1 { 
  color: #006 ;
  letter-spacing: 0.5ex; 
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0em 0em 0em 0em;
}

H1.logo {
  background: white;
  color: black;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

H2 {
  color: #036;
  margin-top: 3em;
  letter-spacing: 0.2ex;
}

H2.subtitle {
 margin: 0em 0em 0em 0em;
 letter-spacing: 0.15ex;
 background: white;
 color: #036;
}

div.hotel {
  padding: 1em 1em 1em 2em;
  margin: 1em 0em 0em 0em;
  background: #FFC;
  color: black;
  border: thin solid #999;
  page-break-inside: avoid;
}

/*********************************************************
 *   DEADLINES
 *********************************************************/

div.deadlines {
  letter-spacing: 0.2ex;
  padding: 1em 1em 1em 2em;
  margin: 0em 2em 0em 2em;
  background: #FF9;
  color: black;
  border: thin dotted black;
  page-break-inside: avoid;
}

div.deadlines H4 {
  margin: 0em 0em 0em 0em;
}

DFN {
  font-style: italic;
  padding-right: 1em;
}

/**********************************************************
 *  LINKS
 **********************************************************/

A:link {
  color: #33F;
  background: inherit;
  text-decoration: none;
  font-weight: bolder;
}

A.important-url {
  display:block ;
  text-align: center;
  font-family: sans-serif ;
  margin-top: 0.5em ;
}

A:visited {
  color: #33F;
  background: inherit;
  text-decoration: none;
  font-weight: normal;
}

A:hover {
  text-decoration: underline;
  color: red;
  background: inherit;
}

UL.sitemap A {
  font-weight: bold;
  color: #006;
  background: white;
}

UL.sitemap UL A {
  font-weight: normal;
}

UL.sitemap A:hover {
  color: red;
  background: white;
  text-decoration: underline;
}

/**********************************************************
 *   SIDEBAR
 **********************************************************/

div.sidebar {
}

div.sidebar P.logo {
  margin: 0.5em 0.2em 2.5em 0.2em; 
}

div.sidebar P {
  margin: 0em 0.25em 0em 0em;
  text-align: right;
}

div.sidebar A {
  color: white;
  text-decoration: none;
  font-size: smaller;
  font-weight: normal;
  display: block;
}

div.sidebar P.logo A {
  font-weight: bold;
  font-size: medium;
  color: red;
}

div.sidebar P.logo A.subtitle {
  font-weight: normal;
  font-size: smaller;
  color: #FA0;
}

div.sidebar A.section {
  font-size: smaller;
  font-weight: bold;
  border-bottom: thin solid white;
  margin-top: 1em ;
  color: white;
}

div.sidebar A.main {
  font-size: smaller;
  font-weight: bold;
  margin-top: 1em ;
  color: white;
}

div.sidebar A.smaller-section {
  font-size: smaller;
  font-weight: bold;
}

div.sidebar A:visited { color: white; }
div.sidebar P.logo A:visited { color: red; }
div.sidebar P.logo A.subtitle:visited { color: #FA0; }

div.sidebar A:hover,
div.sidebar P.logo A:hover {
  color: yellow;
}

div.sidebar P.flag {
  margin-top: 4em;
  margin-right: 1em;
  text-align: right;
}

/*********************************************************
 *  REGISTRATION FORM
 *********************************************************/

/* Unauthorized login */
P.unauthorized {
  margin: 4em 2em 4em 2em;
}

SPAN.unauthorized {
  padding: 1em 1em 1em 1em;
  background: yellow;
  color: black;
  border: thin solid red;
  font-size: x-large;
}

SPAN.error {
  padding: 0em 0.5em 0em 0.5em ;
  background: yellow ;
  color: black ;
}

/*********************************************************
 * FOR PRINTING
 *********************************************************/

@media print {

BODY { 
  font-size: smaller;
}

div.main {
  margin: 0em 0em 0em 0em;
}

SPAN.important {
  font-weight: bold;
}

H1, H2 { color: black; }

H1 { text-decoration: underline; }

H1.logo, P.pictures, P.do-not-print, P.new, div.sidebar, P.validators, IMG.float-left, IMG.float-right, P.caption { display: none; }

UL.entries, UL.guidelines {
  list-style-type: disc; 
  list-style-image: none;
  margin-left: 2em ;
  margin-right: 3em ;
}

}
